@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.ContainerPriceD {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 60vw;
    background-color: rgb(255, 255, 255);
    height: 8.5vw;
    border-radius: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    margin-left: 15vw;
    border: 1.5px solid #FFAE23;
}

.ContainerCounterD {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 32vw;
    background-color: #FFAE23;
    height: 9.5vw;
    border-radius: 30px;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 4vw;
    margin-left: 30vw;
    margin-top: -0.5vw;
}

.CircleCounterD {
    position: absolute;
    width: 8vw;
    height: 8vw;
    background-color: white;
    border-radius: 50%;
    margin-left: 12vw;
    margin-top: 0.5vw;
}

.PlusCounterD {
    margin-top: -3vw;
    margin-left: 4vw;
    font-size: 11vw;
    color: rgb(0, 0, 0);
}
.PlusCounterD:focus {
    outline: none; }

.MinusCounterD {
    margin-top: -3.5vw;
    margin-left: 15vw;
    font-size: 11vw;
    color: rgb(0, 0, 0);
}
.MinusCounterD:focus {
    outline: none; } 

.NumberCounterD {
    margin-top: 0.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
}

.ProductPriceD {
    margin-top: 1.5vw;
    margin-left: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    color: rgb(0, 0, 0);
}